{% extends 'NAOCoreBundle:Core:layout.html.twig' %}

{% block section %}

	<section id="aboutPage">
		
		<div class="row">
			<div class="col-lg-6">
				<!-- Section 1 -->
				<div class="row">
					<div class="col-lg-12" id="titleBirdFriend">
						NOS AMIS LES OISEAUX
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" id="blockBirdFriend">
						<p>Près de chez vous ou dans chacun de vos voyages en France, venez contribuer et participer à l’ornithologie grâce 
						à notre application participative Nos Amis les Oiseaux.</p>

						<p>Avec notre partenaire LPO (la Ligue de Protection des Oiseaux), vous pourrez ainsi prendre part à l’étude et l’observation des comportements de nos amis à plumes qui élisent domicile en France en fonction des rythmes des saisons.</p>

						<p>De manière éducative et ludique, vous pourrez également découvrir et obtenir un maximum d’informations sur toutes les espèces déjà référencées dans notre application NAO grâce à notre partenaire Ornithopedia.</p>
						
						<p>Alors n’attendez plus, venez coopérer tout en vous amusant à la protection et la préservation de nos amis en les prenant sous votre aile.</p>

					</div>
				</div>
				<br>
				<!-- Section 2 -->
				<div class="row">
					<div class="col-lg-12" id="titleStudyBird">
						AMIS CHASSEURS
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" id="blockStudyBird">
						<p>Notre application participative Nos Amis les Oiseaux n’est malheureusement pas
						destinée à la pratique de votre activité.</p>
						
						<p>Nous vous invitons à vous rendre sur les nombreuses applications disponibles à la
						pratique de la chasse.</p>

						<p>Nous vous remercions par avance de votre compréhension.</p>
					</div>
				</div>
			</div>
			
		</div>
		
	</section>

{% endblock %}
